@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 1rem 0;
	background: rgba(80, 92, 84, 0.7);

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	img {
		width: 90px;
		@include breakpointDesktop(768px) {
			width: 75px;
		}
		@include breakpointDesktop(440px) {
			width: 60px;
		}
	}

	&__menu {
		display: flex;
		gap: 2rem;
		align-items: center;
		justify-content: center;

		li a {
			color: $text-light-color;
			position: relative; 
			text-transform: uppercase;
			font-family: $secondary-font;
			font-weight: 700;
			font-size: $p-font-size;
		}

		li a:after {
			content: '';
			position: absolute;
			width: 0;
			left: 50%;
			bottom: -2px;
			height: 2px;
			background-color: $text-light-color;
			transition: all 300ms ease;
		}

		li a:hover:after {
			width: 100%;
			left: 0;
		}

		@include breakpointDesktop(768px) {
			position: fixed;
			flex-direction: column;
			background: rgba(80, 92, 84, 0.7);
			top: 0;
			left: 0;
			width: 100%;
			max-height: 100vh;
			opacity: 0;
			backdrop-filter: blur(60px);
			padding: 25rem 0;

			li a {
				display: inline-block;
				font-size: $h6-font-size;
				opacity: 0;
				transform: translateY(-10px);
				transition: all 660ms ease-in-out;
			}
		}

		&.active {
			opacity: 1;
			transition: all 660ms ease-in-out;

			li a {
				opacity: 1;
				transform: translateY(0);
			}

			li:nth-child(1) a {
				transition-delay: 100ms;
			}
			li:nth-child(2) a {
				transition-delay: 300ms;
			}
			li:nth-child(3) a {
				transition-delay: 500ms;
			}
			li:nth-child(4) a {
				transition-delay: 700ms;
			}
			li:nth-child(5) a {
				transition-delay: 900ms;
			}
			li:nth-child(6) a {
				transition-delay:1100ms;
			}
		}
	}

	&__hamburger {
		border: none;
		background: transparent;
		cursor: pointer;
		display: none;
		z-index: 10;

		@include breakpointDesktop(768px) {
			display: inline-block;

			font-weight: 700;
			font-size: $h4-font-size;

			color: $text-light-color;
			padding: 1rem;
		}
	}
}
