@use '../abstracts/' as *;
@use '../components/' as *;
@use '../core/' as *;

.post-form {
	margin-top: 7rem;

	.container {
		display: flex;
		justify-content: center;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 5rem 0 8rem 0;
		width: 50%;

		@include breakpointDesktop(768px) {
			width: 80%;
		}
	}

	&__input {
		display: flex;
		flex-direction: column;
		label {
			font-family: $main-font;
			font-size: $h4-font-size;
			align-items: center;
			margin-top: 5rem;
		}
		input {
			font-size: $p-font-size;
			background: transparent;
			outline: none;
			border: none;
			border-bottom: 1px solid $text-dark-color;
			padding: 1rem 0;
			font-family: $secondary-font;
		}
		textarea {
			font-size: $p-font-size;
			background: transparent;
			outline: none;
			border: none;
			border-bottom: 1px solid $text-dark-color;
			padding: 1rem 0;
			font-family: $secondary-font;
			overflow: hidden;
			height: 10rem;
		}
	}

	&__btns {
		margin-top: 1rem;
	}
}
