@use '../abstracts/' as *;
@use '../core/' as *;


.button {
	font-family: $secondary-font;
	padding: 0.5rem 1rem;
	font-size: $p-font-size;
	font-weight: 600;
	text-decoration: none;
	display: inline-block;
	border-radius: 1.5rem;
	border: 2px solid $text-dark-color;
	cursor: pointer;
	background: $text-dark-color;
	color: $bg-tertiary-color;


	&:hover {
		background: $bg-secondary-color;
		border: 2px solid $bg-secondary-color;
		
	}

	&:disabled{
		opacity: 0.3;
	}
}


/* &.cta-primary {
		background: $text-dark-color;
		color: $bg-tertiary-color;
	}

	&.cta-secondary {
		background: transparent;
		color: $text-dark-color;
	} */